*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width:  50%;
    /* background-color: black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;

}
.nav-list li a:hover{
    text-decoration: none;
    color: gray;
}

.rightNav{
    /* background-color: violet; */
    width: 50%;
    text-align: right;
    padding: 8px 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url(../img/book.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 70%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-big{
    font-size: 70px;
    text-align: center;
}
.text-small{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sn{
    padding: 4px 10px;
    vertical-align: middle;
}